<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TECHIESpirals</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/w3")
    @Styles.Render("~/bundles/toastrcss")
    @Styles.Render("~/bundles/techiestyle")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_Notifications")
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <a class="navbar-brand splashHead" href="https://techiespirals.s3.eu-north-1.amazonaws.com/index.html">TECHIESpirals</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li><a class="nav-link" href="https://techiespirals.s3.eu-north-1.amazonaws.com/index.html">Home</a></li>
                    <li><a class="nav-link" href="https://techiespirals.s3.eu-north-1.amazonaws.com/about.html">About</a></li>
                    <li><a class="nav-link" href="https://techiespirals.s3.eu-north-1.amazonaws.com/contact.html">Contact</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TECHIESpirals</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastrjs")
    @RenderSection("scripts", required: false)
</body>
</html>
